.add-pers {
    transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
    position: fixed;
    border: none !important;
    bottom: 3%;
    right: 3%;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    color: white !important;
    background-color: white !important;
    padding: 8px !important;
}

.add-pers:hover {
    transform: scale(1.03);
}
.butt {
    color: #ffffff;
    border: solid 2px white;
    background: #0d83d6;
    background: -webkit-gradient(linear, left top, left bottom, from(#02bcde), to(#0d83d6));
  }  