.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
  }
  .butt {
    color: #ffffff;
    border: solid 2px white;
    background: #0d83d6;
    background: -webkit-gradient(linear, left top, left bottom, from(#02bcde), to(#0d83d6));
  }  
  .filter {
    margin-bottom: 10px;
  }
  
  .options {
    margin-bottom: 10px;
  }
  
  .filter-button {
    margin-top: 5px;
    background-color: forestgreen;
  }
  
  @media (max-width: 768px) {
    .filter-container {
      flex-direction: column;
    }
  
    .filter,
    .options,
    .filter-button {
      width: 100%; 
      background-color: forestgreen;
    }
  
    .filter {
      margin-bottom: 5px;
    }
  
    .options {
      margin-bottom: 10px;
    }
  }