.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #d1e2d4;
    padding: 10px;
  }
  
  .small-h1 {
    font-size: 150%;
  }
  
  .registration-form {
    width: 400px;
  }
  .butt {
    color: #ffffff;
    border: solid 2px white;
    background: #0d83d6;
    background: -webkit-gradient(linear, left top, left bottom, from(#02bcde), to(#0d83d6));
  }  