.create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: #d1e2d4;
    border-radius: 20px;
  }
  .butt {
    color: #ffffff;
    border: solid 2px white;
    background: #0d83d6;
    background: -webkit-gradient(linear, left top, left bottom, from(#02bcde), to(#0d83d6));
  }  
  
  .small-h1 {
    font-size: 150%;
  }
  
  .create-form {
    width: 400px;
  }
  
  .error-message {
    margin-bottom: 2%;
    color: rgb(191, 31, 31)
  }